apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: jellyfin
  namespace: jellyfin
  annotations:
    external-dns.alpha.kubernetes.io/hostname: "jellyfin.houseofix.online"
spec:
  parentRefs:
    - name: envoy
      namespace: envoy-gateway
  hostnames:
    - "jellyfin.houseofix.online"
  rules:
    - backendRefs:
        - name: jellyfin
          port: 8096
